.status-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 9999; 
  background-color: transparent; 

  &__time {
    font-size: 15px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #000;
    width: 50px;
    margin-top: 10px; 
  }

  &__notch {
    position: absolute;
    width: 164px;
    height: 32px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background: #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10000;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    width: 60px;
    margin-top: 10px;
  }
}