@import '../../css/app.scss';

.category-page {
  min-height: 100vh;
  background-color: $color-white;
  padding-bottom: 140px; 
  font-family: 'Inter', sans-serif;
  
  &__sticky-wrapper {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #fff; 
    padding-bottom: 8px;
  }

  &__status-placeholder {
    height: 44px;
    width: 100%;
  }

  // --- HEADER ---
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    
    .header-title {
      font-size: 14px;
      font-weight: 700;
      line-height: 100%;
      color: $color-gray-900;
      margin: 0;
    }

    .icon-btn {
      background: none;
      border: none;
      padding: 8px;
      cursor: pointer;
      color: $color-gray-900;
    }
  }

  // --- FILTER BAR ---
  &__filter-bar {
    display: flex;
    gap: 8px; 
    padding: 4px 20px 12px 20px;
    overflow-x: auto;
    
    &::-webkit-scrollbar { display: none; }

    // Nút Icon Filter 
    .filter-icon-btn {
      min-width: 40px;
      height: 40px;
      border-radius: 12px;
      background-color: $color-gray-50; 
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    // Nút Dropdown 
    .filter-chip {
      height: 40px;
      padding: 0 16px;
      border-radius: 12px; 
      background-color: $color-gray-50;
      border: none;
      
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: $color-gray-900;
      white-space: nowrap;
      
      display: flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;

      .chevron-down {
        display: block;
      }
    }
  }

  // --- SORT BAR  ---
  &__sort-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 8px 20px 16px 20px;
    
    .product-count {
      font-size: 12px;
      color: #ACB5BD; 
      font-weight: 500;
    }

    .sort-text {
      font-size: 12px;
      color: $color-gray-900;
      display: flex;
      align-items: center;
      
      b {
        margin-left: 4px;
        font-weight: 700;
      }
    }
  }

  // --- PRODUCT GRID ---
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 20px;
  }
}