@import '../../css/app.scss';

.cart-page {
  min-height: 100vh;
  background-color: $color-white;
  padding-bottom: 100px; 
  font-family: 'Inter', sans-serif;

  &__status-placeholder {
    height: 44px;
    width: 100%;
  }

  // --- HEADER ---
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    
    .header-title {
      font-size: 14px;
      font-weight: 700;
      color: $color-gray-900;
      margin: 0;
    }
  }

  // --- CONTENT CONTAINER ---
  &__content {
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px; 
    margin-bottom: 18px;
  }

  // --- CHECKOUT SECTION ---
  &__checkout-section {
    padding: 16px 20px; 
    background-color: $color-white;
    border-top: 1px solid #f0f0f0;
  }

  .summary-row {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-bottom: 12px;
    align-items: center;
    
    // Style cho Shipping
    span {
      font-size: 12px;
      color: $color-gray-900;
      line-height: 20px;
      
      &.label { color: #000000; } 
      &.value { font-weight: 500; }
    }

    // --- STYLE CHO TOTAL ---
    &--total {
      margin-bottom: 16px;
      align-items: baseline; 

      .label {
        font-size: 14px;
        font-weight: 700; // Total 
        color: $color-gray-900;
        
        // Phần chữ TVA incl.
        .tva-text {
            font-size: 12px; 
            font-weight: 500; 
            color: #B0B5B9;  
            margin-left: 4px; 
        }
      }

      .value {
        font-size: 14px; 
        font-weight: 700;
        color: $color-gray-900;
      }
    }
  }

  .btn-checkout {
    width: 100%;
    height: 52px;
    background-color: $color-gray-900;
    color: $color-white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 16px;
    
    &:active {
      opacity: 0.9;
    }
  }

  .payment-icons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 4px;
    border: none; 
    padding: 0;
    
    img {
      width: 52px;  
      height: 32px; 
      border: 1px solid #EFEFEC; 
      border-radius: 4px;       
      padding: 4px;           
      background-color: #fff;  
      object-fit: contain;    
    }
  }
}