@import '../../css/app.scss'; 

.cart-item {
  display: flex;
  gap: 16px;
  position: relative;
  padding: 12px 0;
  width: 100%;
  border: none;
  background-color: $color-white;

  // --- ẢNH ---
  &__image-wrapper {
    width: 80px;
    height: 88px;
    border-radius: 24px;
    background-color: $color-gray-50;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;

    img {
      width: 72%;
      height: 76%;
      object-fit: contain;
      mix-blend-mode: multiply;
    }
  }

  // --- THÔNG TIN ---
  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px; 
    gap: 4px; 
    min-width: 0;
  }

  &__price-row {
    display: flex;
    align-items: baseline;
    gap: 6px;
  }

  &__price {
    font-size: 14px;
    font-weight: 800;
    color: $color-gray-900;
    line-height: 1;

    &--discount {
      color: $color-red-600;
    }
  }

  &__original-price {
    font-size: 12px;
    color: #B0B5B9;
    text-decoration: line-through;
    font-weight: 400;
  }

  &__title {
    font-size: 14px;
    font-weight: 500;
    color: $color-gray-900;
    line-height: 16px;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
  }

  // Model / Subtitle
  &__model, &__subtitle {
    font-size: 10px;
    color: #ACB5BD;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 80px; 
  }

  // --- NÚT TĂNG GIẢM ---
  &__controls {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: 12px;
    right: 0;

    .qty-btn {
      width: 24px;
      height: 24px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      padding: 0;
      line-height: 1;

      &--minus {
        background-color: $color-gray-50;
        color: $color-gray-900;
      }

      &--plus {
        background-color: $color-gray-900;
        color: $color-white;
      }
    }

    .qty-value {
      font-size: 13px;
      font-weight: 600;
      color: $color-gray-900;
      min-width: 14px;
      text-align: center;
    }
  }

  // ---  NÚT XÓA ---
  &__more-btn-wrapper {
    position: absolute;
    top: 12px;
    right: 0;
    z-index: 10;
  }
}