.homepage {
  min-height: 100vh;
  background-color: #fff;
  padding-bottom: 90px;
  
  &__content {
    padding: 20px;
  }
  
  &__section {
    margin-bottom: 32px;
  }
  
  &__section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    margin-bottom: 16px;
  }
  
  &__section-title {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin: 0;
  }
  
  &__see-all {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ACB5BD; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; 
    margin-bottom: 2px; 
    
    &:hover {
      color: #000;
    }
  }
  
  &__recommended {
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      gap: 16px;
      padding-bottom: 4px;
    }
}
.slide-indicators {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 6px; 
  margin-top: 16px; 

  &__dot {
    width: 9px;
    height: 4px;
    border-radius: 5px;
    background-color: #E0E0E0; 
    transition: all 0.3s ease; 
    cursor: pointer;

    &--active {
      width: 35px; 
      height: 4px; 
      background-color: #212429; 
      border-radius: 5px;
    }
  }
}