@import './app.scss';

.cart-page {
  min-height: 100vh;
  background-color: $color-white;
  padding-bottom: 100px; 
  font-family: 'Inter', sans-serif;

  &__status-placeholder {
    height: 44px;
    width: 100%;
  }

  // --- HEADER ---
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    
    .header-title {
      font-size: 14px;
      font-weight: 700;
      color: $color-gray-900;
      margin: 0;
    }
  }

  // --- CART LIST ---
  &__content {
    padding: 12px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 18px;
  }

  // Style từng sản phẩm
  .cart-item {
    display: flex;
    gap: 16px;
    position: relative; 

    &__image-wrapper {
      width: 80px;
      height: 88px;
      border-radius: 24px;
      background-color: $color-gray-50;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      
      img {
        width: 84%;
        height: 62%;
        object-fit: contain;
        mix-blend-mode: multiply;
      }
    }

    &__info {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &__price-row {
      display: flex;
      align-items: baseline;
      gap: 8px;
      margin-bottom: 4px;
    }

    &__price {
      font-size: 14px;
      font-weight: 800;
      color: $color-gray-900;
      line-height: 14px;

      &--discount { color: $color-red-600; }
    }

    &__original-price {
      font-size: 12px;
      line-height: 14px;
      color: #ACB5BD;
      text-decoration: line-through;
    }

    &__title {
      font-size: 14px;
      font-weight: 500;
      color: $color-gray-900;
      margin-bottom: 2px;
      line-height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 180px;
    }

    &__subtitle {
      font-size: 10px;
      line-height: 12px;
      color: #ACB5BD;
      margin-bottom: 8px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    // Nút More
    &__more-btn {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background: none;
      color: $color-gray-900;
      padding: 4px;
    }

    // Thêm SP
    &__controls {
      display: flex;
      align-items: center;
      gap: 8px; 
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .qty-btn {
      width: 24px;
      height: 24px;
      border-radius: 8px; 
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      padding: 0;
      
      &--minus {
        background-color: $color-gray-50;
        color: $color-gray-900;
      }

      &--plus {
        background-color: $color-gray-900;
        color: $color-white;
      }
    }

    .qty-value {
      font-size: 14px;
      font-weight: 600;
      color: $color-gray-900;
      min-width: 16px;
      text-align: center;
    }
  }

  // --- CHECKOUT SECTION ---
  &__checkout-section {
    padding: 8px 20px;
    background-color: $color-white;
    border-top: 1px solid #C9CCCF;
    border-radius: 0.5;
  }

  .summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    
    span {
      font-size: 12px;
      color: $color-gray-900;
      line-height: 20px;
      
      &.label { color: #000000; } 
      &.value { font-weight: 500; }
    }

    &--total {
      margin-bottom: 10px;
      span {
        font-size: 12px;
        font-weight: 600;
        line-height: 20px;
      }
      .label span {
        color: #B0B5B9;
      }
    }
  }

  .btn-checkout {
    width: 100%;
    height: 52px;
    background-color: $color-gray-900;
    color: $color-white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: none;
  }

  .payment-icons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 4px;
    border: none; 
    padding: 0;
    
    // --- STYLE TỪNG KHUNG ICON ---
    img {
      width: 52px;  
      height: 32px; 
      border: 1.5px solid #EFEFEC; 
      border-radius: 4px;       
      padding: 4px;          
      background-color: #fff;  
      object-fit: contain;    
    }
  }
}