@import './app.scss';

.favourites-page {
  min-height: 100vh;
  background-color: $color-white;
  padding-bottom: 140px;
  font-family: 'Inter', sans-serif;

  &__header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 12px 20px;
    position: relative;
    
    .header-title {
      font-size: 14px;
      font-weight: 700;
      color: $color-gray-900;
      margin: 0;
    }
  }

  &__content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 12px;
  }
}