@import '../../css/app.scss'; 

.favourites-page {
  min-height: 100vh;
  background-color: $color-white;
  padding-bottom: 140px; 
  font-family: 'Inter', sans-serif;

  &__header {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 12px 20px;
    position: relative;
    
    .header-title {
      font-size: 14px;
      font-weight: 700;
      color: $color-gray-900;
      margin: 0;
    }
  }

  &__content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 12px;
  }

  // --- STYLE SẢN PHẨM ---
  .favourite-item {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    border: none; 

    //Ảnh SP
    &__image-wrapper {
      width: 80px;
      height: 88px;
      border-radius: 24px;
      background-color: #f5f5f5; 
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0; 
      
      img {
        width: 72%;
        height: 76%;
        object-fit: contain;
        mix-blend-mode: multiply;
      }
    }

    //Thông tin 
    &__info {
      flex: 1; 
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &__price {
      font-size: 14px;
      font-weight: 800;
      color: $color-gray-900;
      
      .original-price {
        font-size: 12px;
        color: #B0B5B9;
        text-decoration: line-through;
        font-weight: 400;
        margin-left: 6px;
      }

      .discount-price {
         color: $color-red-600;
      }
    }

    &__title {
      font-size: 14px;
      font-weight: 500;
      color: $color-gray-900;
      line-height: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &__model {
      font-size: 10px;
      color: #ACB5BD;
      font-weight: 400;
    }

    // Nút bên phải
    &__actions {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .btn-cart {
      width: 40px;
      height: 40px;
      border-radius: 12px;
      padding: 10px;
      gap: 10px;
      background-color: $color-gray-50;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $color-gray-900;
    }
  }
}