.homepage {
  min-height: 100vh;
  background-color: #fff;
  padding-bottom: 90px;
  
  &__content {
    padding: 20px;
    padding-bottom: 0; 
  }
  
  &__section {
    margin-bottom: 32px;
  }
  
  &__section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    margin-bottom: 16px;
  }
  
  &__section-title {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin: 0;
    font-family: 'Inter', sans-serif;
  }
  
  &__see-all {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ACB5BD; 
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; 
    margin-bottom: 2px; 
    
    &:hover {
      color: #495057;
    }
  }

  &__deals {
    width: 100%;
    
    .zaui-swiper {
        padding-bottom: 10px; 
    }

    .zaui-swiper-slide {
      height: auto; 
      display: none;    
      justify-content: center;
    }
  }
  
  &__recommended {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
    padding-bottom: 4px;
  }

  .product-card {
    &__model,
    &__description {
      white-space: normal; 
      display: -webkit-box;
      -webkit-line-clamp: 2; 
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1.4;
      margin-top: 4px;
      color: #9AA0A6;
      font-size: 11px;
    }
  }
}

.slide-indicators {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 6px; 
  margin-top: 16px; 

  &__dot {
    width: 9px;
    height: 4px;
    border-radius: 5px;
    background-color: #E0E0E0; 
    transition: width 0.5s ease, background-color 0.5s ease; 
  
    cursor: pointer;

    &--active {
      width: 35px; 
      height: 4px; 
      background-color: #212429; 
      border-radius: 5px;
      transition: width 0.5s ease, background-color 0.5s ease;
    }
  }
}

// --- ANIMATION ---
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.4s ease-out forwards;
}